* {
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quizContainer {
    background-color: white;
    border-radius: 15px;
    width: 600px;
    overflow: hidden;  
}
.quizHeader {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin:0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: rgb(61, 101, 102);
    color: white;
    border: none;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1.4rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(62, 47, 95, 0.886);
}
.timerbox {
    position: absolute;
    top: 15px;
    left: 10px;
    display: none;
}

#start-box {
    background-color: white;
    border-radius: 15px;
    height: 600px;
    width: 600px;
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

#score-box {
    position: absolute;
    right: 10px; 
    top: 15px;
    display: none;
    font-size: 4rem;
    padding-right: 50px;
}
#time-left {
    font-size: 4rem;
    padding-left: 10px;
}